* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 1em;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 0 1em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 5px solid #000;
  margin-bottom: 1em;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

.sidebar {
  background-color: #333;
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 3fr 1fr;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  aside {
    margin-top: 16px;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  aside {
    margin-top: 16px;
  }
}
