version: "3.8"

services:
  front:
    build: ./front
    container_name: front
    ports:
      - "3000:3000"
    networks:
      - app_network
    depends_on:
      - back

  back:
    build: ./back
    container_name: back
    ports:
      - "4000:4000"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
