<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express + HBS 2</title>
  </head>
  <body>
    <div class="entry">
      {{#if poweredByNodejs}}
        <span>{{name}} {{type}}</span>
      {{/if}}
    </div>
  </body>
</html>